bidict==0.21.4
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorlog==6.6.0
Cython==0.29.24
EasyProcess==0.3
entrypoint2==0.2.4
evdev==1.4.0
Flask==2.0.2
Flask-Cors==3.0.10
Flask-SocketIO==5.1.1
idna==3.3
isodate==0.6.0
itsdangerous==2.0.1
jeepney==0.7.1
Jinja2==3.0.3
lxml==4.6.4
MarkupSafe==2.0.1
mss==6.1.0
mutagen==1.45.1
numpy==1.21.4
opencv-python==4.5.4.60
pafy==0.5.5
Pillow==8.4.0
psutil==5.8.0
py==1.11.0
pycairo==1.20.1
pycountry==20.7.3
pycryptodome==3.11.0
pycryptodomex==3.11.0
PyGObject==3.42.0
pymongo==3.12.1
pynput==1.7.5
pyscreenshot==3.0
pyshark==0.4.3
PySocks==1.7.1
python-engineio==4.3.0
python-socketio==5.5.0
python-xlib==0.31
pyzmq==22.3.0
requests==2.26.0
simplejpeg==1.6.3
six==1.16.0
streamlink==3.0.1
tqdm==4.62.3
urllib3==1.26.7
vidgear==0.2.3
websocket-client==1.2.1
websockets==10.1
Werkzeug==2.0.2
yt-dlp==2021.11.10.1